/*Reset Default Css*/
*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

/*Main Styling*/

html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;

}

a{
    color:#272323;
    text-decoration: none;
}

h1,h2,h3{
    padding-bottom: 20px; /*To give a space under title*/
}

p{
    margin:10px 0;/*Top&Bottom , Left&Right*/
} 

/*Utils*/

.container{
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.text-primary{
    color:#f7c08a;
    font-weight: bold;

}

.lead{
    font-size: 20px;
}

.btn{ /*convert to a tag to a button*/
    display: inline-block;
    background: #272323;
    padding: 10px;
    border-radius: 5px;
    color:snow;
    font-size: 18px;
    border:none;
    cursor: pointer;
}

.btn:hover{
    background: #f7c08a;
    color: #272323;
}

.btn-light{
    background: snow;
    color: #272323;
}

.bg-primary{
    background-color: #f7c08a;
    color: #272323;

}

.bg-light{
    background-color: snow;
    color: #272323;

}

.bg-dark{
    background-color: #272323;
    color: snow;

}

.l-heading{
    font-size: 40px;
}

.clr {
    clear: both;
  }
  

/*Padding*/

.py-1{padding: 10px 0;}
.py-2{padding: 20px 0;}
.py-3{padding: 30px 0;}

/*Nav-Bar*/

#navbar{
    background: #272323;
    color:snow;
    overflow: auto;
}

#navbar a {
    color:snow;
}

#navbar .logo {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;

}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current { /*If home page open then nav bar home button is seems to be clicked to give a idea which page is current*/
    background: #444;
    color: #f7c888
}

/*Showcase*/

#showcase{
    background: url('../img/showcase.jpg') no-repeat 
    center center/cover;

    height: 600px;
}

#showcase .showcase-content{
    color: snow;
    text-align: center;
    padding-top: 170px;

}

#showcase .showcase-content h1{
    font-size: 60px;
    line-height: 1.2em;

}

#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.5em;
}

/*Home info*/

#home-info{
    height: 400px;

}
#home-info .info-img{
    float:left;
    width:50%;
    background: url('../img/photo-1.jpg') no-repeat;
    min-height: 100%;
}
#home-info .info-content{
    float:right;
    width:50%;
    height: 100% ;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}

#home-info .info-content p{
    padding-bottom: 30px;
}

#features{
    height: 220px;
}

.box{ /*Make 3 boxes on one row*/
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;

}

/*Footer*/

#main-footer{
    text-align: center;
    background: #444;
    color: snow;
    margin-top: auto;
    padding: 20px;
}


/*About Page*/

#about-info .info-left{
    width: 50%;
    float: left;
    text-align: center;
    padding: 30px;
}

#about-info .info-right{
    width: 50%;
    float: right;
    padding: 30px;
}

#about-info .info-right img{
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 25%;
}

    /*Testimonials*/

    #testimonials{
        height: 100%;
        background: url('../img/test-bg.jpg') no-repeat
        center center/cover;
        padding-top: 40px;
       
    }

    #testimonials .testimonial{
        padding: 40px;
        margin-bottom: 40px;
        border-radius: 5px;
        opacity: 0.8;
    }

    #testimonials h2{
        color:snow;
        text-align: center;
        padding-bottom: 40px;
    }

    #testimonials .testimonial img{
        width: 100px;
        float: left;
        margin-right: 20px;
        border-radius: 50%;
    }